.feedback {
    padding: 51px 0 65px 0;
    &-slider {
        position: relative;
        margin: 31px auto 0 auto;
        max-width: 601px;
        &__left {
            position: absolute;
            height: 47px;
            width: 15px;
            top: 34px;
            left: calc(50% - 96px);
            cursor: pointer;
        }
        &__right {
            position: absolute;
            height: 47px;
            width: 15px;
            top: 34px;
            right: calc(50% - 96px);
            cursor: pointer;
        }
        &__img {
            margin: 0 auto;
            width: 114px;
            height: 114px;
        }
        &__title {
            margin-top: 19px;
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }
        &__text {
            margin-top: 5px;
            font-size: 14px;
            font-weight: 300;
            text-align: justify;
        }
    }
}