.phone {
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__text {
        font-size: 14px;
        color: #ffffff;
        text-align: right;
    }
    &__number {
        font-size: 19px;
        font-weight: 600;
        color: #ffffff;
        text-align: right;
    }
    button {
        margin: 0px;
    }
}