.prices {
    padding: 53px 0 80px 0;
    &-items {
        margin-top: 34px;
        display: flex;
        justify-content: space-between;
        &__item {
            padding: 2px 2px 20px 2px;
            width: 265px;
            min-height: 335px;
            border: solid 1px #e9e9e9;
        }
        &__title {
            height: 61px;
            background: $second-color;
            font-size: 16px;
            line-height: 61px;
            font-weight: 600;
            text-align: center;
            text-transform: uppercase;
            color: #ffffff;
        }
        &__icon {
            margin: 14px auto 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 58px;
        }
        &__delivery {
            margin-top: 10px;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            text-transform: uppercase;
            color: #2e2e2e;
        }
        &__price {
            font-size: 28px;
            line-height: 1;
            font-weight: 400;
            color: $main-color;
            text-align: center;
        }
        &__text {
            margin: 18px 0 25px 0;
            padding: 0 11px;
            font-size: 14px;
            text-align: center;
            color: #2e2e2e;
        }
    }
    &-consult {
        margin-top: 56px;
        &__title {
            font-size: 28px;
            font-weight: 400;
            text-align: center;
        }
        &__icon {
            padding: 0 10px;
            margin: 0 auto;
            position: absolute;
            top: -51px;
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 102px;
                height: 102px;
                border: solid 1px $main-color;
                border-radius: 100%;
            }
        }
        &__form {
            position: relative;
            padding: 68px 0 53px 0;
            margin-top: 71px;
            min-height: 166px;
            align-items: center;
            border: 1px solid #898989;
            div {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }
        }
        &__input {
            margin: 0 3px;
            padding: 0 28px;
            width: 268px;
            height: 45px;
            border: solid 1px rgba(0, 0, 0, 0.21);
            border-radius: 50px;
            font-size: 13px;
        }
        &__button {
            position: absolute;
            padding: 0 15px;
            bottom: -23px;
            left: 50%;
            transform: translateX(-50%);
            background: #ffffff;
        }
    }
}